.DS_Store
.sass-cache
Desktop.ini

platforms/android/.gradle
platforms/android/assets/www
platforms/android/CordovaLib/build

platforms/ios/www
platforms/ios/CordovaLib/build

www/
node_modules/
bower_components/

.idea
*.sublime-workspace
npm-debug.log
