@font-face {
  font-family: 'Avenir-Book';
  src: url('/static/fonts/Avenir-Book.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/Avenir-Book.ttf')  format('truetype'),
    url('/static/fonts/Avenir-Book.svg#Avenir-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Regular';
  src: url('/static/fonts/Avenir-Regular.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/Avenir-Regular.woff') format('woff'),
    url('/static/fonts/Avenir-Regular.ttf') format('truetype'),
    url('/static/fonts/Avenir-Regular.svg#Avenir-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Baskerville-Bold';
  src: url('/static/fonts/Baskerville-Bold.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/Baskerville-Bold.ttf')  format('truetype'),
    url('/static/fonts/Baskerville-Bold.svg#Baskerville-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla-Bold';
  src: url('/static/fonts/Karla-Bold.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/Karla-Bold.woff') format('woff'),
    url('/static/fonts/Karla-Bold.ttf')  format('truetype'),
    url('/static/fonts/Karla-Bold.svg#Karla-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla-BoldItalic';
  src: url('/static/fonts/Karla-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/Karla-BoldItalic.woff') format('woff'),
    url('/static/fonts/Karla-BoldItalic.ttf')  format('truetype'),
    url('/static/fonts/Karla-BoldItalic.svg#Karla-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla-Italic';
  src: url('/static/fonts/Karla-Italic.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/Karla-Italic.woff') format('woff'),
    url('/static/fonts/Karla-Italic.ttf')  format('truetype'),
    url('/static/fonts/Karla-Italic.svg#Karla-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla-Regular';
  src: url('/static/fonts/Karla-Regular.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/Karla-Regular.woff') format('woff'),
    url('/static/fonts/Karla-Regular.ttf')  format('truetype'),
    url('/static/fonts/Karla-Regular.svg#Karla-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IowanOldStyleBT-BlackItalic';
  src: url('/static/fonts/IowanOldStyleBT-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/IowanOldStyleBT-BlackItalic.woff') format('woff'),
    url('/static/fonts/IowanOldStyleBT-BlackItalic.ttf')  format('truetype'),
    url('/static/fonts/IowanOldStyleBT-BlackItalic.svg#IowanOldStyleBT-BlackItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
