.fade-transition {
  transition: all .5s ease;
}

.fade-enter, .fade-leave {
  opacity: 0;
}

.popIn-transition {
  transition: all .5s ease;
  transform: scale(1);
}

.popIn-enter, .popIn-leave {
  opacity: 0;
  transform: scale(0);
}

.upIn-transition {
  transition: all 1s ease;
  transform: translate3d(0,0,0);
}

.upIn-enter, .upIn-leave {
  transform: translate3d(0,100%,0);
}
