/*-----------------------------------------------*/
/*   Colors                                      */
/*-----------------------------------------------*/

$red: #ff4743;
$blue: #00e0c9;
$beige: #f7e8da;
