$color-white: #fff;
$color-black: #000;
$color-red: #ff4743;
$color-green: #00e0c9;
$color-green-lite: #7bebdf;
$color-beige: #f7e8da;
$color-text: #827c63;
$color-inactive: #aaaaaa;
$color-gray: #d2d2d2;
$color-gray-lite: #f3f3f3;
$color-sepia: #827c63;
$color-blue: #25dec9;
$color-stats-red1: #fc4949;
$color-stats-red2: #fd7d7d;
$color-stats-red3: #fd8383;
$color-stats-red4: #fda6a6;
$color-stats-red5: #fedfdf;
$color-stats-line: #eee;
